In [93]:
import urllib.request
import json
import pandas as pd

import matplotlib.pyplot as plt

In [124]:
url1 = 'https://www.nifs.go.kr/OpenAPI_json?id=cooList&key=qPwOeIrU-2303-LJMDFA-0542&sdate=20100101&edate=20101231'

respones = urllib.request.urlopen(url1)
json_str = respones.read().decode('cp949')

json_object = json.loads(json_str)

df = pd.json_normalize(json_object['body']['item'])
df = df.loc[:,['sta_nam_kor','obs_dat','gru_nam','wtr_tmp']]
df

# if url.status_code == 200:
#     jsonData = url.json()
#     print(jsonData)
#     # JSON 데이터 파싱 및 처리
# else:
#     print("Error: Failed to get data")

      sta_nam_kor   obs_dat gru_nam wtr_tmp
0              홍도  20101231      서해    10.3
1             호미곶  20101231      동해    None
2              포항  20101231      동해     7.1
3              진도  20101231      남해     7.4
4              죽변  20101231      동해    None
...           ...       ...     ...     ...
10456          거제  20100101      동해      13
10457         거문도  20100101      남해      15
10458          강구  20100101      동해    None
10459          감포  20100101      동해      14
10460         가덕도  20100101      남해    13.2

[10461 rows x 4 columns]

In [123]:
df = df[df['sta_nam_kor']=='화양']
df

    sta_nam_kor   obs_dat gru_nam wtr_tmp
0            화양  20221230      남해     9.9
3            화양  20221229      남해     9.7
21           화양  20221216      남해    10.4
23           화양  20221215      남해    10.5
26           화양  20221214      남해    11.4
..          ...       ...     ...     ...
978          화양  20220107      남해     8.8
982          화양  20220106      남해     8.8
986          화양  20220105      남해     8.5
990          화양  20220104      남해     8.6
994          화양  20220103      남해     8.2

[208 rows x 4 columns]

In [105]:
df['wtr_tmp'] = df['wtr_tmp'].astype('float')

C:\Users\admin\AppData\Local\Temp\ipykernel_13136\944364577.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wtr_tmp'] = df['wtr_tmp'].astype('float')

In [106]:
df.dtypes

sta_nam_kor     object
obs_dat         object
gru_nam         object
wtr_tmp        float64
dtype: object

In [107]:
df['wtr_tmp'] = df['wtr_tmp'].fillna(df['wtr_tmp'].mean())

C:\Users\admin\AppData\Local\Temp\ipykernel_13136\1975454962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wtr_tmp'] = df['wtr_tmp'].fillna(df['wtr_tmp'].mean())

In [108]:
df.isnull().sum()

sta_nam_kor    0
obs_dat        0
gru_nam        0
wtr_tmp        0
dtype: int64

In [109]:
pd.options.display.float_format = '{:.2f}'.format

In [110]:
df.to_csv('wtr_tmp.csv')